# Environments
.env
.env/
myenv/
venv/
ENV/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Uploaded files
data/uploads/*
!data/uploads/.gitkeep

# Documents
/data/documents/graph_rag_result.png
/data/documents/pipeline_result.png

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
